### General
alias src='. /workspace/.devcontainer/scripts/.aliases'

DISTROS=(alma debian suse ubuntu)
### Connect into minion container
for DISTRO in "${DISTROS[@]}"; do
  alias "${DISTRO}"="docker exec -it salt-minion-${DISTRO} /bin/bash"
done
### Get container logs
alias logs-master='docker logs -tf --tail 1000 salt-master-debian'
for DISTRO in "${DISTROS[@]}"; do
  alias "logs-${DISTRO}"="docker logs -tf --tail 1000 salt-minion-${DISTRO}"
done
